/* body {
    background-color: rgb(0, 58, 103);
} */

.card {
    margin: 1rem;
    width:40rem;
    margin-left:auto;
    margin-right:auto;
    padding: 2rem;
    background-color: rgb(234, 239, 253);
    text-decoration: none;
    border: 2px solid rgb(9, 9, 38);
    border-radius: 10px;
    box-shadow:  3px 3px 5px 6px #ccc;
    
}

.all-tweets-title {
    color: rgb(9, 9, 38);
    text-align:center;
}


.nav-container {
    background-color:rgb(9, 9, 38);
    height: 4rem;
    display:flexbox;
    padding: 1rem;
    justify-content: flex-end;
   
}

.nav-link {
    color: white;
    display: inline;
    display:flexbox;
    padding: 1rem;
    justify-content: flex-end;

}

p, .tweet-comments, .tweet-author, .tweet-text, a { 
    text-decoration: none;
}

.tweet-author {
    position: relative;
    left: 0;
}

.tweet-text {
    text-align: center;
    color:rgb(9, 9, 38);
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: rgba(9, 9, 38, 0.232);
    padding: 1rem;
    margin: 1rem;
}

.comment1 {
    border: 1px solid black;
    margin: 5px;
    border-radius: 5px;
    padding: 1rem;

}

.tweet-comments {
    margin: 1rem;
}

.like-btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    margin: 5px;
    position: relative;
    float:right;
}

.signup-container {
    margin: 1rem;
    width:40rem;
    margin-left:auto;
    margin-right:auto;
    padding: 2rem;
    background-color: rgb(234, 239, 253);
    text-decoration: none;
    border: 2px solid rgb(9, 9, 38);
    border-radius: 10px;
    box-shadow:  3px 3px 5px 6px #ccc;
}

input {
    margin: 1rem auto;
    display: block;
    height: 2rem;
    width: 40%;
    border-radius: 10px;
}

label {
    display: block;
    text-align: center;
    margin: auto;
    font-size:1.5em;
    border-radius: 10px;
}

.signup-title {
    text-align: center;
    
}

.signup-btn {
    border: 2px solid rgb(9, 9, 38);
    border-radius: 10px;
    height: 3rem;
    width: 40%;
    font-size: 1.5rem;
    padding: .5rem;
    text-align: center;
    margin: auto;
}
.login-btn {
    margin: 1rem auto;
    display:block;
}